PORT = 8000
NODE_ENV = production
DB_LOCAL_URI=mongodb://127.0.0.1:27017/ecommerce-project-self
JWT_SECRET=F66DB4EC116F3
JWT_EXPIRES_TIME=7d
COOKIE_EXPIRES_TIME=7
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=1255ecedcc5d3e
SMTP_PASS=f1de77c5b6cc12
SMTP_FROM_NAME=ecommerce_self
SMTP_FROM_EMAIL=saaadhath@gmail.com
BACKEND_URL=http://127.0.0.1:8000
FRONTEND_URL=http://127.0.0.1:3000
STRIPE_API_KEY=pk_test_51ONy0RHTjUJCdbgvS9MRSsfZuIudZSBuYwf4nMxvipijMrx5ObelKD912H2bpaYVrJrixagnyXvzN3oJszh9ttgM00nOVWunRd
STRIPE_SECRET_KEY=sk_test_51ONy0RHTjUJCdbgvICcQKYNOBSDTafc6vyfaHS6EXlJcsnu2cggDbiUo6Xc30zn4qEecz2rd9QlVoNhxflOsbNxS006BjUQSNB